* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(256, 256, 256, 1);
    border-bottom: 3px solid #c8c8c8;
    color: rgba(0,0,0,1);
    /* color: rgba(42, 43, 51, 1); */
    padding: 0 0;
}

tooltip {
  /* background: rgba(256,256,256,1); */
  background: rgba(0,0,0,1);
  border: 1px solid #c8c8c8;
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: rgba(0,0,0,1);
    border-bottom: 3px solid transparent;
}

#battery,
#cpu,
#memory,
#clock
#custom-clipboard
{
    padding: 0 2px;
}
/* #custom-clipboard { */
/*     color: #ffffff; */
/*     background: #333333; */
/*     padding: 5px; */
/*     border-radius: 5px; */
/* } */

#workspaces button.focused {
    background: #c8c8c8;
    border-bottom: 3px rgba(252, 252, 252, 1);
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
